# Dependencies
node_modules/
web/node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build outputs
dist/
web/dist/
*.so
IP-Hub
IP-Hub.exe

# Environment & IDE
.env
.env.local
.DS_Store
*.swp
.idea/
.vscode/
.localbuilder/
.gocache/
